/**
* Task component which contains all the task info (title,icon-marker...etc)
*/
@import "../settings";
@import "marker";

$taskHeight: 63px;

.task {
  padding: 0.8rem;
  border: 1px solid $dark-gray;
  background: $white;

  .task__title {
    font-size: 20px;
  }

  .task__checkMarker {
    display: inline-block;
    vertical-align: middle;

  }

  &.task--rightContent {
    /* Large and up */
    @media screen and (min-width: 64em) {
      float: right;
      margin: $taskHeight 0 0;
      width: 50%;
    }
  }

  &.task--leftContent {
    /* Large and up */
    @media screen and (min-width: 64em) {
      float: left;
      margin: 0 0 $taskHeight 0;
      width: 50%;
    }

  }

}

.task--checked {

  .task__title {
    opacity: 0.5;
  }

  .marker {
    @include markerHoverState();

    &:hover {
      @include markerInitialState();
    }
  }

}

